<h1>Food Allergy Visualizer</h1>

<!-- <p>Each day, please mark which food items you ate and whether you had symptoms.</p> -->
<%= render partial: "new" %>

<p class="notice"><%= notice %></p>

<%= render partial: "data" %>

<!-- <h2>Information on allergies</h2>
<p>Did you know that eight foods cause 90% of food allergies?</p>
<p>For each day, track what you have eaten and whether you had any food allergy symptoms. Mild symptoms include:</p>
<ul>
	<li>Red, swollen, dry, or itchy skin rash (hives or eczema)</li>
	<li>Runny or stuffy nose, sneezing, or a slight, dry cough</li>
	<li>Itchy, watery, red eyes</li>
	<li>Itchy mouth or inside your ear</li>
	<li>Funny taste in your mouth</li>
	<li>Upset stomach, cramps, throwing up, or diarrhea</li>
</ul>
<p>Some allergies are more sever and produce the following symptoms:</p>
<ul>
	<li>Trouble breathing or swallowing</li>
	<li>Swollen lips, tongue, or throat</li>
	<li>Feeling weak, confused, or light-headed, or passing out</li>
	<li>Chest pain or a weak, uneven heartbeat</li>
</ul> -->